<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cash Transfer - Pesonet by Junmar Pacay</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="container">
    <div class="cash-transfer form">
        <header><img src="img/pesonet_logo.png" th:src="@{/img/pesonet_logo.png}" alt="Logo" class="logo"/></header>
        <header>Cash Transfer</header>
        <form th:action="@{/cash-transfer}" method="post" th:object="${transaction}">
            <!-- Display validation errors for the amount field -->
            <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="invalid-feedback"></div>
            <input type="number" min="0" step="0.01" name="amount" placeholder="Enter amount to transfer" th:field="*{amount}" th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid' : ''" required><br>

            <!-- Display validation errors for the recipient email field -->
            <div th:if="${#fields.hasErrors('transferTo')}" th:errors="*{transferTo}" class="invalid-feedback"></div>
            <input type="text" id="recipientAccountNumber" name="recipientAccountNumber" placeholder="Enter recipient email" th:classappend="${#fields.hasErrors('transferTo')} ? 'is-invalid' : ''" required><br>
            <input type="hidden" id="recipientAccountId" name="transferTo" th:field="*{transferTo}"> <!-- Hidden input field for user ID -->

            <!-- Display validation errors for the transaction name field -->
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
            <input type="text" name="name" placeholder="Enter transaction name" th:field="*{name}"><br>
            
            <button type="submit">Transfer</button>
        </form>
        <div class="back">
            <a href="/home">
                <button>Back to Home</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
