<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cash In - Pesonet by Junmar Pacay</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="cash-in form">
        <header><img src="img/pesonet_logo.png" th:src="@{/img/pesonet_logo.png}" alt="Logo" class="logo"/></header>
        <header>Cash In</header>
        <form th:action="@{/cash-in}" method="post" th:object="${transaction}">
            <!-- Display any validation errors for the amount field -->
            <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="invalid-feedback"></div>
            <input type="number" min="0" max="50000" step="0.01" name="amount" placeholder="Enter amount to cash in" th:value="*{amount}" th:errorClass="is-invalid" required><br>
            <input type="hidden" name="name" value="Cash In"><br>
            <button type="submit">Cash In</button>
        </form>
        <div class="back">
            <a href="/home">
                <button>Back to Home</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
