<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Change PIN - Pesonet by Junmar Pacay</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="container">
    <div class="changepin form">
      <header>
        <img src="img/pesonet_logo.png" th:src="@{/img/pesonet_logo.png}" alt="Logo" class="logo"/>
      </header>
      <h1>Change your PIN</h1>
      <form th:action="@{/changepin}" method="post" th:object="${user}">
        <div th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}" class="invalid-feedback"></div>
        <input type="password" name="pin" placeholder="Enter your current PIN" minlength="4" th:value="*{pin}" th:errorclass="is-invalid" required><br>
        <input type="password" name="npin" placeholder="Create a new PIN" minlength="4" th:value="*{npin}" required><br>
        <div th:if="${#fields.hasErrors('rpin')}" th:errors="*{rpin}" class="invalid-feedback"></div>
        <input type="password" name="rpin" placeholder="Confirm your new PIN" minlength="4" th:value="*{rpin}" th:errorclass="is-invalid" required><br>
        <button type="submit">Change PIN</button>
      </form>
      <div class="signup">
        <span class="signup">Cancel change PIN and go back to 
          <a href="/home">Home</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
