<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register - Pesonet by Junmar Pacay</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  
</head>
<body>
<div class="container">
    <div class="changepin form">
        <header><img src="img/pesonet_logo.png" th:src="@{/img/pesonet_logo.png}" alt="Logo" class="logo"/></header>
      <header>Change your PIN</header>
      <form th:action="@{/changepin}" method="post" th:object="${user}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
        <input type="email" name="email" placeholder="Enter your Email" th:value="*{email}" th:errorClass="is-invalid" required><br>
        <input type="password" name="pin" placeholder="Create a PIN" minlength="4" th:value="*{pin}" required><br>
        <div th:if="${#fields.hasErrors('rpin')}" th:errors="*{rpin}" class="invalid-feedback"></div>
        <input type="password" name="rpin" placeholder="Confirm your PIN" minlength="4" th:value="*{rpin}" th:errorClass="is-invalid" required><br>
        <input type="text" name="name" placeholder="Enter your Name" th:value="*{name}" required><br>
        <input type="tel" name="number" placeholder="Enter your mobile number" th:value="*{number}" required><br>
        <button type="submit">Register</button>
    </form>
      <div class="signup">
        <span class="signup">Already have an account?
            <a href="/login">
                <label for="check">Login</label>
            </a>
        </span>
      </div>
    </div>
  </div>
</div>
</body>
</html>