<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pesonet by Junmar Pacay</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="container">
    <div class="login form">
        <header><img src="img/pesonet_logo.png" th:src="@{/img/pesonet_logo.png}" alt="Logo" class="logo"/></header>
       
            <h3>Connect, Pay, and Save Effortlessly</h3>
            <div class="slogan">Connect and Enjoy Seamless Payments Today!</div>
            <button onclick="window.location.href='/register';">Create account</button>
            <button onclick="window.location.href='/login';">Login</button>

        <div class="signup">
        <span class="slogan">Powered by <label for="check">Java</label> and <label for="check">Springboot</label></br>
        <label for="check">Disclaimer</label> This app is a school project and does not involve real money transactions. Any funds displayed are purely fictional and for educational purposes only. Please do not enter any real financial information.
        </span></br></br>
        <span class="slogan">Created by <label for="check">Junmar Pacay</label></span>
        </div>
    </div>
</div>
</body>
</html>